
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}

<h2>Thanks</h2>

<br /><br />
<h2>
    thanks for buying. click
    <a href="@Url.Action("Index","shoppingcart")">here</a><br />to continue
</h2>
